# Environment files
.env
*.env

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# macOS system files
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/

# Test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy / Pyre type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Poetry / Pipenv
poetry.lock
Pipfile.lock
